i.icon{
	font-size: 2em;
}

.container.main{
	margin-top: 7.0em;
}

#delete{
	display: inline;
}

i.chevron{
	font-size: 1em;
}

.postedDate{
	font-size: 1.3em;
	margin: 5px 0 20px 0;
}

.buttonContainer{
	margin: 20px 0 0 0;
}